body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: content-box;
}

.card {
    @media screen {
        display: flex;
        flex-direction: row;
    }
}

.side {
    border: 1px solid black;
}

@page {
    size: A5;
    margin: 0;
}